
.product-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.product-grid .single{
    text-align: center;
    border: 1px solid var(--color-light-weight);
}
.product-grid .single .pro-name{
    background: var(--color-main);
    padding: 0.5rem 0.1rem;
    color: white;
    text-transform: uppercase;
}
.product-grid img{
    padding: 0.5rem;
    height: 250px;
    width: 100%;
    object-fit: contain;
}
.product-grid .single:hover .pro-name{
    background: var(--color-yellow);
}
@media only screen and (max-width: 750px){
    .product-grid{
        grid-template-columns: repeat(2,1fr);
    }   
}
@media only screen and (max-width: 400px){
    .product-grid{
        grid-template-columns: repeat(1,1fr);
    }   
}